# dome-vr5 .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# production
#/dist - need js-files and dist/external modules
#external copy three_0.147.0 - makes CubeCamera-CubeMap work - no real value!
#NOTE: roughly >0.134.0 => many! problems with texture re-size for mult objs
dist/external/three/

#utilities
dist/app/media/image-links/@thumbnail.py/

# various notes and dcoumentation
&docs/

# tsc logs, console diagnostics
&logs/

# music, shader exps, technique exps, dev-tests
&examples/

# shader dev-tests 
# domeshaders.html; domeshaders-skybox.html
**/domeshaders/

#inessential archives (mainly failing or less efficient code versions)
**/archive*/


# https cedrtificates and https.conf.js
ca.crt
ca.key
cert.crt
cert.key
https.conf.js

# Vim swp-files
*.swp
*.swo

# npm-debug
npm-debug.log*

# docs/notes
*.txt


# don't ignore .md
!*.md


